@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Indie+Flower&display=swap');
*{
    font-family: 'Abril Fatface', cursive;
font-family: 'Indie Flower', cursive;
}
body{
    color: white;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    background-image: url('background.png');
    background-size: cover;
    max-height: fit-content;
}
.portfolio{
    text-align: center;
}
head{
    font-size: 100px;
}